{% extends 'main.html'%}

{% block content%}
<div class="row">
    <div class="col-md-5">
      <div class="pb-3">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{db.image1.url}}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{{db.image2.url}}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{db.image3.url}}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6"> 
            <form>
                <div class="form-row">
                  <div class="col-md-4">
                    <label for="validationServer01">Comment</label>
                    <textarea name="comment" cols="100" rows="10" class="form-control"></textarea>
                  </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit form</button>
              </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">{{db.description}}</div>
  </div>

  
{% endblock content%}



